<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for participating in the iPhone 13 User Experience Survey!</h1>
    <p>Your feedback has been successfully submitted.We appreciate your valuable input</p>
    <p>Best regards,</p>
    <p>Your Survey Team</p>
  </body>
</html>
